<section class="cl">
    <div class="wrapper">
        <span id="clients"></span>
        <h2 class="h2">Clients</h2>
        <div class="cl__photo">
            <img src="../img/phone.png" alt="ipad" class="cl__cont__ph__img"/>
        </div>
        <div class="cl__cont">
            <div class="cl__cont__quo">
                <p class="q">"</p>
            </div>
            <div class="cl__cont__text">
                <p class="cl__cont__text__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis, justo ac ultricies lacinia, tellus</p>
                </br>
                <p class="p">Project Manager/<a href="https://www.infinity-group.pl/" target="blank" class="a">Infinity-group.pl</a></p>
            </div>
            <div class="cl__cont__btn">
                <button onclick="location.href='#'" type="button" class="cl__cont__btn__a">web design</button>
                <button onclick="location.href='#'" type="button" class="cl__cont__btn__a">usability</button>
                <button onclick="location.href='#'" type="button" class="cl__cont__btn__a">e-commerce</button>
            </div>
            <div class="cl__cont__slid">
                <div class="cl__cont__slid__circ"></div>
                <div class="cl__cont__slid__circ"></div>
                <div class="cl__cont__slid__circ"></div>
            </div>
        </div>
        <aside class="aside">
            <div class="number">
                <p class="n">2/5</p>
            </div>
        </aside>  
    </div>
</section>