<div class="cookie">
    <div class="wrapper">
        <div class="cookie__cont">
            <div class="cookie__cont__img">
                <img src="../img/cook.png" alt="ciasteczko"/>
            </div>
            <div class="cookie__cont__p">
                <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.</p>
            </div>
            <button class="btn cookie__cont__btn">
                    <p>CLOSE<span class="fi flaticon-cross-out"></span></p>
            </button>
        </div>
    </div>
</div>  