<section class="form">
    <div class="wrapper">
        <div class="form__cont">
            <div class="form__cont__head"></div>
                <div class="form__cont__head__text">
                    <h2 class="h2">Contact</h2>
                </div>
                <button class="btn form__cont__btn">
                    <p>Let us know how to contact You <span class="fi flaticon-download" id="ar"></span></p>
                </button>
                </div>
            <div class="form__cont__text">
                <p class="p"> Quisque lorem tortor fringilla sed, vestibulum id, <strong>eleifend justo vel bibendum</strong> sapien massa ac turpis faucibus orci luctus non, <b>consectetuer lobortis quis</b>, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque </p>
            </div>
            <form class="form__cont__form" action="mailto:agnieszka.osowska0@gmail.com?subject=zapytanieCV" method="post">
                <p class="p form__cont__form__text">Hello! I'm <span><input type="text" placeholder="Your Name" name="name" class="form__cont__form__in"/></span> and I represent <span><input type="text" placeholder="Company name" name="companyName" class="form__cont__form__in"/></span>.</br>
                Call me at <span><input type="number" placeholder="Your telephone number" name="phone" class="form__cont__form__in"/></span> or send an email to <span><input type="text" placeholder="Your email adress" name="email" class="form__cont__form__in"/></span>.</p>
                <label class="p--form p"><input type="checkbox" name="permis" value="permis" class="form__cont__form__ch"/>Lorem ipsum dolor sit amet enim. Etiam ullamcorper.</label><p class="p--form p"></p>
                <button class="btn form__cont__form__btn">
                    <p>send details<span class="fi flaticon-next"></span></p>
                </button>
            </form>
        </div>
    </div>
    <aside class="aside hideAside" id="as">
        <div class="number">
            <p class="n">5/5</p>
        </div>
    </aside>
</section>