<header class="head">
    <div class="wrapper">
            <a href="/" class="head__logo">
                <img src="/img/logo.png" alt="logo" class="head__logo__img"/>
            </a>
            <nav class="head__nav">
                <ul class="head__nav__ul">
                    <li class="head__nav__ul__li"><a href="" class="head__nav__ul__li__a">MISSION</a></li>
                    <li class="head__nav__ul__li"><a href="" class="head__nav__ul__li__a">CLIENTS</a></li>
                    <li class="head__nav__ul__li"><a href="" class="head__nav__ul__li__a">PRODUCTS</a></li>
                    <li class="head__nav__ul__li"><a href="" class="head__nav__ul__li__a">CONTACT</a></li>
                </ul>
            </nav>
      
    </div>
    {% include "components/cookie.html" %}
</header>
