<header class="head">
        <div class="wrapper">
            <div class="head__top">
                <a href="/" class="head__top__logo">
                    <img src="/img/logo.png" alt="logo"/>
                </a>
                <nav class="head__top__nav">
                    <ul class="head__nav__ul">
                        <li class="head__top__nav__ul__li"><a href="">MISSION</a></li>
                        <li class="head__top__nav__ul__li"><a href="">CLIENTS</a></li>
                        <li class="head__top__nav__ul__li"><a href="">PRODUCTS</a></li>
                        <li class="head__top__nav__ul__li"><a href="">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="head__cont">
                    <h1 class="h1">PRAKTYKI</br><span class="h1--col">INFINITY GROUP</span></h1>     
            </div>
        </div>




        
        <div class="head__cookie">
                <div class="wrapper">
                    <div class="head__cookie__cont">
                        <div class="head__cookie__cont__img">
                            <img src="/img/cookie.png" alt="ciasteczko"/>
                        </div>
                        <div class="head__cookie__cont__p">
                            <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.</p>
                        </div>
                        <button class="btn head__cookie__cont__btn">
                                <p>CLOSE<span class="fi flaticon-cross-out"></span></p>
                        </button>
                    </div>
                </div>
            </div>    
    </header>