<section class="map">
    <div class="wrapper">
         <div class="map__cont">
             <img src="../img/komp.png" alt="kompas" class="map__cont__img"/>
             <p class="map__cont__p">
                <span class="map__cont__p__comp">Infinity Group Sp.z o.o.</span><br>
                </br>
                ul.Skladowa 12,</br>
                15-399 Bialystok,</br>
                Polska.</br>
                </br>
                Lorem ipsum dolor sit amet enim. Etiam ullamcorper.
            </p>
            
         </div>
         <div class="map__pin">
             <img src="../img/pinB.png" alt="pinezka" class="map__pin__img"/>
         </div>
      
    </div>
</section>