<section class="mission">
    <div class="wrapper">
        <div class="mission__cont">
            <h2 class="h2">Mission</h2>
            <div class="quotes">
                <p class="q">"</p>
            </div>
            <div class="text">
                <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis, justo ac ultricies lacinia, tellus ligula ultricies justo, in molestie dui est et nulla. Nam ipsum felis, interdum gravida nibh vitae, cursus tempor lacus. Praesent non mi malesuada, maximus nunc eu, varius urna. Praesent lacinia varius orci, in auctor quam scelerisque at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam tincidunt mollis. Sed fringilla vitae nulla in facilisis.</p>
            </div>
        </div>
        {% include "components/aside.html" %}
    </div>
</section>