<section class="prod">
    <div class="wrapper">
        <div class="prod__cont">
            <div class="prod__cont__text">
                <h2 class="h2">Products</h2>
                <p class="p">Curabitur et ligula. Ut molestie a, ul</p>
            </div>
            




            <div class="prod__cont__images">

                <button class="prod__cont__images__img" id="pic1">
                    <img src="/img/1.png" alt="chrabąszcz"/>
                </button>
                <div class="dropdown-content" id="text1">
                    <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.</p>
                </div>




                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/1.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/2.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/3.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/4.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/5.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/6.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/7.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/8.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/9.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__images__img">
                    <a href="#"><img src="/img/10.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__img">
                    <a href="#"><img src="/img/11.png" alt="chrabąszcz"/></a>
                </div>
                <div class="prod__cont__img">
                    <a href="#"><img src="/img/12.png" alt="chrabąszcz"/></a>
                </div>
            </div>
            
        </div>
        <aside class="aside">
            <div class="number">
                <p class="n">3/5</p>
            </div>
        </aside>
    </div>
</section>












<!--<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">
        <div id="myDropdown1" class="prod__cont__images__img">
            <a href="#"><img src="/img/1.png" alt="chrabąszcz"/></a>
        </div>
    </button>
      <div id="myDropdown2" class="dropdown-content">
        <p class="text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna</p>
      </div>
    </div>-->