.aside{
        width: $base-unit * 6.875;
        height: 100%;
        position: absolute;
        left: 92%;
        text-align: center;
        top: 0;
        z-index: 2000;
        .number{
            height: $base-unit * 15.625;
            .n{
                width: 100%;
                height: 100%;
                position: relative;
                padding-top: $base-unit * 12.5;
                font-size: $base-unit * 1.1875;

                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: -($base-unit * 2.1825);
                    background-color: $color-3;
                }
            }
        }
    }


    .arr{
        height: $base-unit * 18.75;
        width: 100%;
       position: absolute;
      top: $base-unit * 24.0625;
      
        .flaticon-down-arrow:before{
            content: "";
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
               // bottom: -($base-unit * 2.1825);
                background-color: #efc73c;
        }

        &__cont{

            &__up, &__down{
                background-color: white;
                border: none;
                display: block;
                float: left;
                font-size: $base-unit * 1.1875;
                margin: 0 auto;
            
            }
          
            &__down{
                clear: left;
        
            }


        }

       
    }
 



   