.cookie{
    width: $width-main;
    height: $base-unit * 6.5625;
    background-color: $color-3;
    position: fixed;
    top: $base-unit * 40.625;
    transform: translateY(-100%);
    z-index: 30;
    opacity: 0.8;

    &__cont{
        float: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

       &__img{
           width: $base-unit * 4.375;
           margin-right: $base-unit * 1.875;
           float: left;
       }

       &__p{
           width: $base-unit * 42.8125;
           font-size: $base-unit * 0.875;
           line-height: $base-unit * 1.1875;
           color: $color-1;
           margin-right: $base-unit * 4.375;
           float: left;
       }

       &__btn{
            width: $base-unit * 6.25;
            float: left;

           
       }
    }

}

