.hero{
    height: $base-unit * 40.625;
    background-image: url("/img/head_foto.jpg");
    background-repeat: no-repeat;
    position: relative;

    @media (min-width: 1367px){
        height: 0;
        padding-bottom: 35.87%;
        background-size: 100% auto;
        position: relative;
    }

    &:after {  
        content: "";
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: repeating-linear-gradient(-45deg, black, black 0.5px, transparent 0.5px, transparent 3px);   // do poprawki
        opacity: 0.3;
        background-size: 100%;
    }

   &:before {
        content: "";
        position: absolute;
        z-index: 20;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: 
        linear-gradient(140deg, #10181e 15%, #2e9d16 65%, #eaae13);
       opacity: 0.7;
        background-size: 100%;
    }
    
    @media (min-width: 1365px){
        background-size: 100% 100%;
    }

    &__cont{
      
        position: absolute;
        z-index: 30;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        

        .h1{
            color: white;
        }

        .h1--col{
            color: $color-4;
        }

        
    }
}