@mixin width{
    max-width: $base-unit * 47.1875;
    margin-left: $base-unit * 6.25;
    margin-right:  $base-unit * 6.25;
};

@mixin madaLight{
    font-family: 'Mada', sans-serif;
    font-weight: 300;
};

@mixin madaBlack{
    font-family: 'Mada', sans-serif;
    font-weight: 900;
};

@mixin quotes{
    width: $base-unit * 6.125;
    text-align: right;
    font-family: 'Mada', sans-serif;
    font-weight: 900;
    font-size: $base-unit * 3.875;
    padding-right: $base-unit;
}
